/* GENERAL */
*{
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a{
    text-decoration: none;
    color: black;
}


ul{
    list-style: none;
    gap: 15px;
}

body, html{
    height: 100%;
}

.page{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sign-up{
    padding: 4px 25px 4px 25px;
    color: #F9FAF8;
    background-color: #3882f6;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    font-weight: bold;
}


/* SECTIONS GENERAL STYLE */

.first-section,
.second-section,
.third-section,
.fourth-section,
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.first-section, .footer{
    background-color: #1F2937;
}

.third-section{
    background-color: #E5E7EB;
}


/* FIRST SECTION */

.first-section .header,
.first-section .header ul,
.first-section .main-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.first-section{
    flex-direction: column;
    gap: 25px;
    padding-top: 15px;

    .header, 
    .main-section{
        max-width: 1100px;
        width: 100%;
    }
    .header{
        h2, 
        ul li a{
            color: #E5E7EB;
            font-size: 18px;
            font-weight: bold;
        }
        h2{
            font-size: 24px;
        }
    }
    .main-section{
        .left-card{
            display: flex;
            flex-direction: column;
            max-width: 500px;
            gap: 20px;

            h1{
                color: #F9FAF8;
                font-size: 48px;
                font-weight: bolder;
            }
            p{
                color: #E5E7EB;
                font-size: 18px;
                font-weight: bold;
            }
            .sign-up{
                align-self: flex-start;
            }
        }
    }
}



/* SECOND SECTION */

.second-section .card-container,
.second-section .content-container{
    display: flex;
    gap: 25px;
}

.second-section{
    .content-container{
        width: 100%;
        max-width: 1100px;
        flex-direction: column;
        align-items: center;
        gap: 50px;

        h2{
            color: #1F2937;
            font-size: 36px;
            font-weight: bolder;
        }

        .card-container{
            width: 100%;
            justify-content: center;
            gap: 100px;

            .card{
                max-width: 150px;
                display: flex;
                flex-direction: column;
                gap: 15px;
                align-items: center;

                img{
                    width: 150px;
                    height: 150px;
                    border: #3882f6 solid 4px;
                    border-radius: 25px;
                }

                p{
                    text-align: center;
                    color: #1F2937;
                    font-size: 14px;
                }
            }
        }
    }
    
} 

/* THIRD SECTION */

.third-section{
    .citation-container{
        max-width: 650px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .citation{
        color: #1F2937;
        font-size: 28px;
        font-style: italic;
        font-weight: lighter;
    }

    .citation-author{
        font-size: 18px;
        font-weight: bold;
        align-self: flex-end;
    }
}

/* FOURTH SECTION */

.fourth-section{
    .call-to-action-container{
        max-width: 1100px;
        width: 100%;
        padding-left: 150px;
        padding-right: 150px;

        .sign-up-container{
            background-color: #3882f6;
            padding: 25px;
            padding-left: 80px;
            padding-right: 80px;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .text-container{
                .title{
                    color: #F9FAF8;
                    font-weight: bolder;
                    font-size: 18px;
                }

                .description{
                    color: #E5E7EB
                }            
            }

            .sign-up{
                border: #F9FAF8 solid 2px;
            }
        }
    }
}

/* FOOTER */

.footer{
    padding: 25px;

    p{
        color: #F9FAF8;
        font-size: 18px;
        font-weight: bolder;
    }
}